# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
.venv/
venv/
ENV/
env/
source/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Kaggle cache
data_kaggle/

# IDE
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Model evaluation results
model_evaluation_results.csv

# Streamlit
.streamlit/

# Distribution / packaging
dist/
build/
*.egg-info/
